body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: violet;
    color:#333;
    text-align: center;
    min-height: 100%;
    display:flex;
    flex-direction: column;
    overflow-x:hidden;
}
.header-ko {
    background-color: lightgray;
    height: 25%;
    margin-bottom: 10px;
    float:left;
}
.header-content {
    text-align: center;
    vertical-align: auto;
    float:left;
}

div.nav-bar {
    background-color:#333;
    border-radius: 5px;
    padding:10px 0px 10px 0px;
    position:sticky;
}
ul.nav-items {
    width:100%;
    gap:60px;
    border:5px solid #333;
    background-color: bisque;
}
li {
    display: inline-block;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    
}
a {
    color:black;
    text-decoration-line: none;
    gap:60px;

}
.item-right {
    float:right;
    position:fixed;
}
.dropdown{
    position: absolute;
    display: none;
    right:0;
    text-align: center;

}
.side-nav{
    height: 100%;
    width:160px;
    float:right;
    z-index: 1;
    top:0;
    left:0;
    background-color:bisque;
    overflow-x:hidden;
    padding:20px;
    flex:1 1 250px;
    border-radius: 12px;
    box-shadow: #333;
    min-width: 250px;
    position:relative;
    

}
img{
    max-width:70%;
    height: auto;
    display:block;
    border-radius: 12px;
    display:flex;
}
img .news-post{
    max-width:80%;
    height: auto;
    display:block;
    border-radius: 12px;

}



