 /* this is the css of our product features */
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:0;
    padding:0;
    overflow-x:hidden;
    line-height: 1.6;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color:#333;
    text-align: center;
    justify-content:center ;
    justify-items: center;
}
.logo{
    width:100%;
}
header{
    display:flex;
    width:100%;
    justify-content: center;
    align-items: center;
    padding:10px 10px;
    text-align: center;
    background-color: lightgrey;
    border: 1px solid black;
}
nav ul{
    list-style: none;
    display: flex;
    gap:100px;
    justify-content: center;
    overflow:hidden; 
    border:1px solid black;


    
}
nav ul li a{ 
    display: flex;
    color:black;
    text-decoration: none;
    text-align: center;
    justify-content: center; 
}
.fe{
    color: black;
}
.hero{
    display: flex;
    width:100%;
    text-align: center;
    
}
img{
    width:100%;

}
footer{
    width:100%;
    border:2px solid black;
}
.photo{
    display: flex;
    justify-content: flex-start;
    gap:100px;
    text-align: center;
    border:2px solid black;
}
.photo img{
    width: 180px;
    height: 180px;
    gap:30px;
    object-fit: cover;
    border-radius: 10px;
    border:2px solid black;
}
.Highlights{
    display:inline-block;
    justify-content: center;
    text-align: center;
    padding:10px 10px;
    text-align: center;
    border-radius: 30px;
}
.Highlights ul{
    list-style: none;
    display: flex;
    gap:20px;
    justify-content: center;
    overflow:hidden; 
    width:100%;
    border-right: 10px;
    text-align: center;
    
}
.Highlights ul li { 
    color:black;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    width:100%;
    gap:10px;
    text-align: center;
}
form button:hover{
    background-color: crimson;
    color: black;
}

