/*this is my css styles combined the index and contact*/
body { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url(assets/beach.jpg);
    background-position: center;
    background-repeat:round;

}
header{
    color:black;
    padding: 10px;
    align-items: center;
   background-color: burlywood;
   border: 4px solid black;

}

.hero{
    background-color:darksalmon;
    padding:1px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border:4px solid black;
   
}
.spots .foodproducts {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: burlywood;

}
.spot .food .product{
    border: 1px solid #ccc;
    padding:10px;
    width:200px;
}
form{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin:20px auto;
    text-align: left;
    background-color:darksalmon;
    color:black;
    width:500px;
   
}
.form input, form button{
    margin:5px 0;
    padding:8px;
}
.form input, form button:hover{
    color:black;
    background-color:burlywood;
}
nav a{
    color: black;
}

footer{
    background: #333;
    color: white;
    text-align: center;
    padding:10px
}
 .spot {
    border-radius: 15px 15px 15px 15px;
    border: 3px solid red;
    background-color: burlywood;
    border-width: 4px;
    height: auto;
    margin: 10px 0;
    width:300px;
    padding: 15px;
    text-align: center; 
}
img, .spot{
    border-radius: 10px ;
    width: 300px;
    text-align: center;
    height: auto;
    width: 100%;
    margin-bottom: 10px;

}
.spots{
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap:20px;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 3000px;
    margin:0 auto;
}
.foodproducts{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 10px;
  max-width: 5000px;
  margin: 0 auto;
  border: 4px solid black;
  border-radius: 25x 25x 25x 25x;
}
.food, .product{
  background-color: burlywood;
  padding: 9px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
button:hover{
    color: black;
    background-color: crimson;

}
.side nav{
    width: 20px;
    padding: 10px 20px;
    border-right: 1px solid #ccc;
    float: right;
    position: fixed;  
    height:100vh;
    border-left: 1px solid #ddd;
    position: relative;
    height: 100vh;

}
.profile-section {
    text-align: center;
    height: 80%;
}

.loc{
    height: 300;
    width:400;

}





