/*this is my css styles combined the index*/
body { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url(assets/beach.jpg);
    background-position: center;
    background-repeat:round;

}
header{
    color:black;
    padding: 10px;
    align-items: center;
   background-color: burlywood;
   border: 4px solid black;

}

.hero{
    background-color:darksalmon;
    padding:1px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border:4px solid black;
   
}
.spots .foodproducts {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: burlywood;

}
.spot .food .product{
    border: 1px solid #ccc;
    padding:10px;
    width:200px;
}

nav a{
    color: black;
}

footer{
    background: #333;
    color: white;
    text-align: center;
    padding:10px
}
 .spot {
    border-radius: 15px 15px 15px 15px;
    border: 3px solid red;
    background-color: burlywood;
    border-width: 4px;
    height: auto;
    margin: 10px 0;
    width:300px;
    padding: 15px;
    text-align: center; 
}
img, .spot{
    border-radius: 10px ;
    width: 300px;
    text-align: center;
    height: auto;
    width: 100%;
    margin-bottom: 10px;

}
.spots{
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap:20px;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 3000px;
    margin:0 auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.foodproducts{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 10px;
  max-width: 5000px;
  margin: 0 auto;
  border: 4px solid black;
  border-radius: 25x 25x 25x 25x;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.food, .product{
  background-color: burlywood;
  padding: 9px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
button:hover{
    color: black;
    background-color: crimson;

}
.local{
    font-family:Georgia, 'Times New Roman', Times, serif;
}






